@import url('https://fonts.googleapis.com/css?family=Roboto');

$main-color: #f75311;
$header-footer-color:#374249;
$font-color: #797979;
$title-color:  #374249;
$section-bkg-color: #f3f7f9;
$hover-btn-color: #cfd1d3;

$main-font: 'Roboto', sans-serif;