@import 'vars';
@import 'mixins';

//google maps insert
.mapouter { 
    position: relative;
    text-align: right;
    height: 500px;
    width: 600px;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 500px;
    width: 600px;
}

td {
    border: 1px solid black;
    padding: 0px;
    width: 150px;
    height: 30px;
}

.invisible {
    border: none;
}

////////////////////////////////////////////


//               Global styles          //

* {
    font-family: $main-font;
}

body {
    margin: 0px;
}


//                  Header                //

nav {
    background-color: $header-footer-color;
    text-align: left;

    ul {
        padding: 0px;
        margin: 0px;
        padding-inline-start: 0px;
    }

        li {
            display: inline-block;
        }

        a {
            color: white;
            text-transform: uppercase;
            margin-left: 50px;
            text-decoration: none;
        }

        li:first-child {
            width: 200px;
            background-color: $main-color;
            padding: 10px 100px 15px 0px;
        }

        a img {
            height: 30px;
        }
        
        a:hover {
            text-decoration: underline;
        }

}

.main-banner {
    background-image: url("../slike/intro.jpg");
    background-size: cover;
    height: 800px;
    text-align: center;
    position: relative;

    .main-title {
        position: absolute;
        width: 80%;
        bottom: 100px;
        background-color: rgba($color: black, $alpha: .3);
        color: white;
        right: 10%;  
    }
}

//////////////////////////////////////////////////////////////////////////

//              Main section            //

// Tags

main {
    width: 70%;
    margin: 0 auto;
}

.tags {
    margin: 40px 0px 80px 0px;
    text-align: right;
    
    span {
        border: 1px solid lightgray;  
        border-radius: 15px;
        padding: 5px;
        margin-left: 50px;
    }
}

//Images

.img-section img {
    margin: 15px;
}


//Pricing

.pricing {
    text-align: center;
    margin-top: 50px;

    span {
        display: block;
        margin: 30px 0 ;
    }

    table {
        margin: 0 auto;
        border-collapse: collapse;

        td[colspan], td[rowspan] {
            background-color: $main-color;
            color: white;
        }

        .td-bkg {
            background-color: $header-footer-color;
            color: white;
        }
    }


}

